[submodule "EasyMinerCenter"]
	path = EasyMinerCenter
	url = https://github.com/KIZI/EasyMiner-EasyMinerCenter.git
	branch = v2.4
[submodule "EasyMiner-Backend"]
	path = EasyMiner-Backend
	url = https://github.com/KIZI/EasyMiner-Backend.git
[submodule "rCBA"]
	path = rCBA
	url = https://github.com/jaroslav-kuchar/rCBA.git
[submodule "Evaluation"]
	path = Evaluation
	url = https://github.com/KIZI/EasyMiner-Evaluation.git
[submodule "EasyMiner-Scorer"]
	path = EasyMiner-Scorer
	url = https://github.com/KIZI/EasyMiner-Scorer.git
