[submodule "EasyMinerCenter"]
	path = EasyMinerCenter
	url = https://github.com/KIZI/EasyMiner-EasyMinerCenter.git
[submodule "EasyMiner-Backend"]
	path = EasyMiner-Backend
	url = https://github.com/KIZI/EasyMiner-Backend.git
[submodule "rCBA"]
	path = rCBA
	url = https://github.com/jaroslav-kuchar/rCBA.git
